.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.app-header {
  position: relative;
  background-color: #242331;
  padding-top: 3px;
  height: 50px;
  min-height: 50px;
  width: 100%;
  color: #fffafa;
  opacity: 0.8;
  transition: opacity 0.35s;
}

.app-header:hover {
  opacity: 1;
}

.app-header::after {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #67d38f;
  content: "";
}

.app-header-logo {
  position: absolute;
  left: 20px;
  width: 100px;
  height: 50px;
}

.header-logo {
  height: 50px;
}

.app-login-nav {
  position: absolute;
  right: 0px;
  margin: 10px 20px;
  height: 30px;
  width: 100px;
  box-sizing: border-box;
  border: 1px solid #67d38f;
  border-radius: 5px;
  background: #fffafa;
  color: #242331;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.9;
  transition: opacity 0.35s;
}

.app-login-nav:hover {
  opacity: 1;
}

.login-icon {
  margin: 0 10px 0 0;
}

.app-footer {
  background-color: #242331;
  height: 50px;
  min-height: 50px;
  width: 100%;
  color: #fffafa;
  text-align: center;
}

.app-footer-link {
  font-size: 16px;
  font-weight: bold;
  margin: 0 20px;
  line-height: 50px;
  transition: color 0.35s;
}

.app-footer-link:hover {
  color: #67d38f;
}

.app-header-logo {
  font-size: 16px;
  color: #fffafa;
}

.app-container {
  font-size: 12px;
  flex-grow: 1;
  max-width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.app-account-details {
  position: absolute;
  right: 0px;
  height: 50px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-notification-bell {
  color: #fffafa;
  opacity: 0.9;
  transition: opacity 0.35s;
}

.app-notification-bell:hover {
  opacity: 1;
}

.app-my-account-nav {
  border: 1px solid #67d38f;
  border-radius: 5px;
  background: #fffafa;
  color: #242331;
  height: 30px;
  margin: 10px 0 10px 20px;
  font-size: 12px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0 10px;
  text-align: center;
  font-weight: bold;
  opacity: 0.9;
  transition: opacity 0.35s;
}

.app-my-account-nav:hover {
  opacity: 1;
}
